{% extends "layout.html" %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Born Tuesday</h1>
          <span class="subheading">A Blog by Mr. Pell and Mr. Suemith</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}
{% block content %}
  {% for post in posts %}

    <div class="post-preview">
      <a href="{{ url_for('post') }}">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      </a>
      <div class="row">
        <div class="col-2">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        </div>
        <div class="col-10">
          <p>Posted by
            <a href="{{ url_for('about') }}">{{ post.author.username }}</a>
            on {{ post.date_posted.strftime('%B %d, %Y')}}</p>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>

{% endblock content %}
